# INi env untuk aplikasi
NODE_ENV=development
MYSQL_HOST=db
MYSQL_USER=root
MYSQL_PASSWORD=<your passsword>
MYSQL_DB=todos

# ini env untuk DB
MYSQL_ROOT_PASSWORD=<your password>
MYSQL_DATABASE=todos
